#easel-window {
    width: 80%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#easel-content {
    padding: 0px;
}

#easel-oscillators {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    width: 50%;
    height: 100%;

    border: 1px solid (var(--text-color));
}

.easel-osc {
    border: 1px solid (var(--text-color));
    height: 20%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0px;
}

#osc1-gain {
    width: 20px;
}