@use '../utils' as *;

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

p {
    font-family:  $font-system;
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--text-color)
}

body {
    margin: 0;
    padding: 0;
    font-family:  $font-system;
    font-weight: 400;
    background-color: var(--background-color);
    color: var(--text-color);

    overflow: hidden;

    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    //font-smooth: never;
}

a {
    color: inherit;
}


// Scrollbar --------------------------------------------------------------------------------------------
::-webkit-scrollbar {
    width: 16px;
    background-color: var(--background-color);
    border: 1px solid var(--text-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
}
::-webkit-scrollbar-thumb:active{
    border: 1px solid var(--background-color);
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
    background-color: var(--background-color);
    display: block;
    border-style: solid;
    height: 14px;
    width: 16px;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 8px 14px 8px;
    border-color: transparent transparent var(--text-color) transparent;
    }
::-webkit-scrollbar-button:vertical:single-button:decrement:active {
    border-width: 0 8px 12px 8px;
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 14px 8px 0 8px;
    border-color: var(--text-color) transparent transparent transparent;
}
::-webkit-scrollbar-button:vertical:single-button:increment:active {
    border-width: 12px 8px 0 8px;
}



// Range slider
input[type="range"].hslider {
    -webkit-appearance: none;
    appearance: none;
    
    width: 100%;
    height: 20px;
    background: var(--background-color);
    border: 1px solid var(--text-color);
    outline: none;
}
input[type="range"].hslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 22px;
    background: var(--text-color);
    cursor: pointer;
    box-shadow: 0px 0px 2px black;
}
input[type="range"].hslider::-moz-range-thumb {
    width: 15px;
    height: 22px;
    background: var(--text-color);
    cursor: pointer;
    box-shadow: 0px 0px 2px black;
}

.slider-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
    width: 300px;
    height: 20px;

    .slider-value {
        width: 70px;
        height: inherit;
        text-align: right;
        border: 2px solid var(--text-color);
        font-family: $font-system;
        font-size: 1.2rem;
        font-weight: 400;
    }
}