#boot-screen {
    // Screen
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);

    // Flexbox
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px; // Space between logo and text

    // Logo
    img {
        width: 180px;
        height: auto;
        max-width: 100%;
    }

    // Boot screen text
    p {
        color: var(--text-color);
        font-family: "Courier New", Courier, monospace;
        font-size: 1.2rem;
    }
}

#boot-transition {
    // Start hidden
    display: none;

    // Screen size
    width: 100vw;
    height: 100vh;

    // Colors
    background-color: var(--background-color);
    color: var(--text-color);

    // Flexbox
    display: flex;
    justify-content: left;
    align-items: left;
}

#desktop {
    // Start hidden
    display: none;

    // Screen size
    //width: 100vw;
    height: calc(100vh - 40px);

    border: 2px solid var(--text-color);
    border-radius: 15px;
    margin: 20px;
    padding: 20px;

    // Colors
    background-color: var(--background-color);
    color: var(--text-color);

    // Grid
    grid-template-rows: repeat(auto-fill, 120px);
    grid-auto-columns: 100px;
    gap: 20px;
}
