/* CRT Filters */
body {
    /* CRT flickering */
    filter: brightness(var(--flicker-brightness, 1));

    transition: filter 0.05 ease-out;
}

#crt-lens {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    pointer-events: none;
    z-index: 9998;

    // Apply chromatic aberration
    backdrop-filter: url(#crt-aberration);
    -webkit-backdrop-filter: url(#crt-aberration);

    // Radial vignette for applying filter only on borders
    mask-image: radial-gradient(circle at center, transparent 60%, black 100%);
    -webkit-mask-image: radial-gradient(circle at center, transparent 60%, black 100%);
}

/* CRT overlay div */
#crt-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    pointer-events: none;
    z-index: 9999;

    /* Filters */
    background: 
        // Vignette
        radial-gradient(
            circle at center, 
            transparent 70%,
            rgba(0, 0, 0, 0.35) 120%
        ),
        
        // Scanline
        repeating-linear-gradient(
            0deg, /* Line angle */
            transparent 0px, /* Start transparent */
            transparent 4px, /* Transparent until this pixel */
            rgba(0, 0, 0, 0.1) 4px, /* Start black alpha=0.1 */
            rgba(0, 0, 0, 0.1) 7px, /* Continue until this pixel */
            /* And repeats */
        );
}